<div class="image-text-input-container">
    <div class="text-overlay">
        <h2>Detect AI-generated Images</h2>
        <p>Upload an image to see if it was made by a machine</p>
        <div class="search-input-container">
            <i class="search-icon fas fa-upload"></i>
            <input type="text" placeholder="Upload image..." class="search-input">
            <button class="search-button">Browse</button>
        </div>
    </div>
</div>

<div class="image-text-section">
    <div class="image-container">
        <img src="assets/bg2.avif" alt="Example Image" class="image">
    </div>
    <div class="text-container">
        <h2>Generate Image from Text</h2>
        <p>Write a description and get an image in seconds</p>
        <div class="search-input-container">
            <i class="search-icon fas fa-keyboard"></i>
            <input type="text" placeholder="Enter a description..." class="search-input">
            <button class="search-button">Generate</button>
        </div>
    </div>
</div>